<div class="row">
<div class="alert alert-dark col-5 d-flex" role="alert">
    <strong>商品一覧</strong> 
</div>
</div>

<div class="row">
 <div class="col-5">
    <table class="table">
          <thead class="thead-light">
            　<tr>
            　    <th>商品ID</th>
            　    <th>商品名</th>
            　    <th>税抜き価格</th>
            　    <th>ジャンル</th>
            　   <th>ステータス</th>
            　</tr>
            　<% @item.each do |item| %>
              <tr>
               <td><%= item.id %></td>
               <td><%= item.name %></td>
               <td><%= item.cost %></td>
               <td><%= item.genre %></td>
               <td><%= item.status %></td>
              </tr>    
              <% end %>
          </thead>
        </table>
 </div>

