<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <table border="1" width="70%">
             <tr>
             <td>ジャンル検索</td>
             </tr>
             <% @genres.each do |genre| %>
             <tr>
              <td><%= genre.name %></td>
             </tr> 
             <% end %>
            </table>
        </div>
        <div class="col-lg-9">
            <%= attachment_image_tag @item, :image%>
          <tr>
            <td> <h5><%= @item.name %></h5></td>
            <div><td> <%= @item.introduction %></td></div>
            <td> ¥ <%= (@item.price * 1.1).floor %>(税込)</td>
            <td> 
                <%= form_with model: @cart_item, url: cart_items_path do |f| %>
                    <%= f.select :amount, (1..9).to_a, {include_blank: '個数選択'}, class: 'sample' %>
                    <%= f.hidden_field :item_id, value: @item.id %>
                    <%= f.hidden_field :customer_id, value: current_customer.id %>
                    <%= f.submit "カートに入れる", class:'btn btn-success' %>
                <% end %>
            </td>
           </tr>
        </div>
    </div>
</div>